<section class="pt-3 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="link-top-content">
					<li><a href="#">Trang chủ</a></li>
					<li>&rsaquo;</li>
					<li><a href="#">Tìm kiếm</a></li>
				</ul>
			</div>
		</div>
		<div class="row pt-0 pb-0">
			<div class="col-md-8">
				<app-content-search></app-content-search>
			</div>
			<div class="col-md-4 layout-right">
				<app-connected></app-connected>
				<app-category-right-type-one></app-category-right-type-one>
			</div>
		</div>
	</div>
</section>