<section class="pt-3 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="link-top-content">
					<li><a href="#">Trang chủ</a></li>
					<li>&rsaquo;</li>
					<li><a href="#">detail</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="cate-button">
					<ul>
						<li><a href="#">danh muc</a></li>
						<li><a href="#">danh muc</a></li>
						<li><a href="#">danh muc</a></li>
					</ul>
				</div>
				<div class="detail-content">
					<h1 class="post-title">10 Foods You Have Been Eating Wrong All Your Life</h1>
					<div class="post-about">
						<span>
							By <b>HuyNguyen</b> - 22/07/2018
						</span>
						<span class="float-left"></span>
					</div>
					<div class="post-content pt-3 pb-4">
						
					</div>
					<div class="post-comment p-3">
						<ul class="list-unstyled">
							<li class="media d-flex">
								<div class="link-media d-flex">
									<div class="img pr-1">
										<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
									</div>
									<div class="media-body pl-3">
										<h5 class="m-0">User</h5>
										<span class="pt-1 pb-1">Feb 26, 2017</span>
										<p class="comment-content">Lorem ipsum dolor sit amet consectetur adipiscing elit. Vestibulum ac vehicula leo. Donec urna lacus gravida ac vulputate sagittis tristique vitae lectus. Nullam rhoncus tortor at dignissim vehicula.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!--danh muc-->
					<div class="row pt-5 pb-0">
						<div class="col-md-12">
							<div class="cate_top d-flex justify-content-start position-relative cate_top_gray">
								<h3 class="cate-tile bg-gray pr-3 pl-3 pt-2 pb-2">
									Danh muc
								</h3>
							</div>
							<div class="row pt-4 fz-15">
								<div class="col-md-4">
									<div class="items-new items-new-gray">
										<a href="#" class="img position-relative h-150">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="items-new items-new-gray">
										<a href="#" class="img position-relative h-150">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="items-new items-new-gray">
										<a href="#" class="img position-relative h-150">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
										</div>
									</div>
								</div>
							</div>
							<div class="">
								<ul class="page_controle page_controle_gray">
									<li class="page_null">
										<a href="#">&lsaquo;</a>
									</li>
									<li>
										<a href="#">&rsaquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- form submit-->
					<div class="row pt-5 form-comment">
						<div class="col-md-12">
							<h1>Bình luận</h1>
							<form action="#" method="post">
								<div class="form-group">
									<textarea class="form-control" placeholder="Nội dung"></textarea>
								</div>
								<div class="form-group">
									<input class="form-control" type="text" name="name" id="name" value="" placeholder="Name: *">
								</div>
								<div class="form-group">
									<input class="form-control" type="text" name="name" id="name" value="" placeholder="Email: *">
								</div>
								<div class="form-group">
									<input class="btn btn-info" type="submit" value="Bình luận">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				
			</div>
		</div>
	</div>
</section>