<section class="pt-3 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="link-top-content">
					<li><a routerLink="/">Trang chủ</a></li>
					<li>&rsaquo;</li>
					<li><a href="#">Đăng nhập</a></li>
				</ul>
			</div>
		</div>
		<div class="row pt-0 pb-0">
			<div class="col-md-12">
				<h1 class="text-center mb-5">Đăng nhập</h1>
				<form action="#" class="text-center form-login pb-5">
					<div class="form-group">
						<input type="text" class="form-control" name="name" placeholder="Ten dang nhap">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="name" placeholder="mat khau">
					</div>
					<div class="form-group">
						<button class="btn btn-success">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>