<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <li class="sub-menu">
          <a class="" href="javascript:;">
                <i class="fa fa-th"></i>
                <span>Tin tức</span>
           </a>
          <ul class="sub">
            <li><a href="javascript:void(0)" class="active">Danh sách</a></li>
            <li><a class="" href="javascript:void(0)">Thêm mới</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- sidebar menu end-->
  </div>
</aside>
