<app-header></app-header>
<section class="pt-3 pb-5">
	<div class="container">
		<app-hot-news></app-hot-news>
		<div class="row pt-0 pb-0">
			<div class="col-md-8">
				<app-category-type-one></app-category-type-one>
				<app-category-type-two></app-category-type-two>
				<app-category-type-three></app-category-type-three>
				<app-category-type-four></app-category-type-four>
				<app-category-type-five></app-category-type-five>
			</div>
			<div class="col-md-4 layout-right">
				<app-connected></app-connected>
				<app-category-right-type-one></app-category-right-type-one>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>
