<div class="row pt-5 pb-0">
	<div class="col-md-12">
		<div class="cate_top d-flex justify-content-start position-relative cate_top_black">
			<h3 class="cate-tile bg-gray pr-3 pl-3 pt-2 pb-2">
				theo dõi
			</h3>
		</div>
		<div class="row pt-4 fz-15">
			<div class="col-md-12 social pb-2">
				<div class="social-img social-fb float-left"></div>
				<span class="social-info float-left">1000</span>
				<span class="social-info-name float-left">Fans</span>
				<span class="social-info-button float-right">
					<a href="#">Like</a>
				</span>
			</div>
			<div class="col-md-12 social pt-2 pb-2">
				<div class="social-img social-twitter float-left"></div>
				<span class="social-info float-left">1000</span>
				<span class="social-info-name float-left">Followers</span>
				<span class="social-info-button float-right">
					<a href="#">Follower</a>
				</span>
			</div>
			<div class="col-md-12 social pt-2">
				<div class="social-img social-youtube float-left"></div>
				<span class="social-info float-left">1000</span>
				<span class="social-info-name float-left">Subscribers</span>
				<span class="social-info-button float-right">
					<a href="#">Subscriber</a>
				</span>
			</div>
		</div>
		<div class="row pt-4 fz-15">
			<div class="col-md-12 mt-2 pb-3 banner-right-t">
				<a href="#">
					<img src="../../../../../assets/images/banner-halong.jpg" alt=""/>
				</a>
			</div>
		</div>
	</div>
</div>