<!-- <div id="lab">
  <div id="lab_">
    <ul class="p-0 m-0">
      <li class="d-inline-block"><a routerLink="/home" class="badge badge-pill badge-primary p-2 pl-5 pr-5">Home</a></li>
      <li class="d-inline-block ml-3"><a routerLink="/lab/about" class="badge badge-pill badge-primary p-2 pl-5 pr-5">About</a></li>
      <li class="d-inline-block ml-3"><a routerLink="/lab/form" class="badge badge-pill badge-primary p-2 pl-5 pr-5">Form</a></li>
    </ul>
  </div>
</div> -->
<!-- <app-header></app-header> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->