<section class="pt-3 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="link-top-content">
					<li><a href="#">Trang chủ</a></li>
					<li>&rsaquo;</li>
					<li><a href="#">danh muc</a></li>
				</ul>
			</div>
		</div>
		<div class="row content-category">
			<div class="col-md-8">
				<div class="cate-title">
					<h1>danh muc</h1>
				</div>
				<div class="cate-button">
					<ul class="m-0">
						<li><a href="#">danh muc</a></li>
						<li><a href="#">danh muc</a></li>
						<li><a href="#">danh muc</a></li>
					</ul>

				</div>
				<div class="cate-content">
					<!--danh muc-->
					<div class="row pt-3 pb-0">
						<div class="col-md-12">
							<div class="row pt-4">
								<div class="col-md-6">
									<div class="items-new items-new-green">
										<a href="#" class="img position-relative h-160">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
											<span class="items-new-date pt-2 pb-2"><b>John Doe</b> -  Feb 26, 2017</span>
											<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="items-new items-new-green">
										<a href="#" class="img position-relative h-160">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
											<span class="items-new-date pt-2 pb-2"><b>John Doe</b> -  Feb 26, 2017</span>
											<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="items-new items-new-green">
										<a href="#" class="img position-relative h-160">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
											<span class="items-new-date pt-2 pb-2"><b>John Doe</b> -  Feb 26, 2017</span>
											<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="items-new items-new-green">
										<a href="#" class="img position-relative h-160">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
											<span class="items-new-date pt-2 pb-2"><b>John Doe</b> -  Feb 26, 2017</span>
											<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="items-new items-new-green">
										<a href="#" class="img position-relative h-160">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
											<span class="items-new-date pt-2 pb-2"><b>John Doe</b> -  Feb 26, 2017</span>
											<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="items-new items-new-green">
										<a href="#" class="img position-relative h-160">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
											<span class="items-new-date pt-2 pb-2"><b>John Doe</b> -  Feb 26, 2017</span>
											<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
										</div>
									</div>
								</div>
							</div>
							<div class="">
								<ul class="page_controle page_controle_green">
									<li class="page_null">
										<a href="#">&lsaquo;</a>
									</li>
									<li>
										<a href="#">&rsaquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				
			</div>
		</div>
	</div>
</section>