<div id="all">
	<header class="shadow-sm bg-white">
		<section class="header-top p-2">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<ul class="link-header-top p-0 m-0">
							<li>
								<a href="#">Sunday, July 22</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Sign in</a>/<a href="#">Register</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container pt-4 pb-4">
				<div class="row">
					<div class="col-md-3 align-self-center">
						<a href="/" class="logo">
							<img class="" src="../../assets/images/logo.png" alt="logo"/>
						</a>
					</div>
					<div class="col-md-9">
						<div class="row justify-content-end">
							<div class="col-md-12 banner">
								<img src="../../assets/images/banner.jpg" alt="banner" class="img-fluid" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<nav>
					<ul>
						<li><a href="#nowhere" title="Lorum ipsum dolor sit amet" class="active_menu">Lorem</a></li>
						<li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
						<li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
						<li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
						<li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
					</ul>
				</nav>
			</div>
		</section>
	</header>
	<section class="pt-3 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pr-1">
					<a href="#" class="news-top position-relative">
						<div class="img">
							<img class="smooth" src="../../assets/images/img_test1.jpg" alt="placeholder+image">
						</div>
						<div class="content p-4 position-absolute">
							<a href="#" class="cate pl-3 pr-3">Aliquam</a>
							<h3 class="title">Chuyển nhượng Real: “Ông trùm” chốt hạ về tam tấu, fan Real sững sờ</h3>
							<span class="date"><b>Ha Noi</b>, 19/07/2018</span>
						</div>
					</a>
				</div>
				<div class="col-md-6 pl-1 news-top-right">
					<div class="row news-top-right-t pb-1">
						<div class="col-md-12">
							<a href="#" class="news-top position-relative">
								<div class="img">
									<img class="smooth" src="../../assets/images/img_test1.jpg" alt="placeholder+image">
								</div>
								<div class="content p-4 position-absolute">
									<a href="#" class="cate pl-3 pr-3">Aliquam</a>
									<h3 class="title">Chuyển nhượng Real: “Ông trùm” chốt hạ về tam tấu, fan Real sững sờ</h3>
								</div>
							</a>
						</div>
					</div>
					<div class="row news-top-right-b pt-1">
						<div class="col-md-6 pr-1">
							<a href="#" class="news-top position-relative">
								<div class="img">
									<img class="smooth" src="../../assets/images/img_test1.jpg" alt="placeholder+image">
								</div>
								<div class="content p-4 position-absolute">
									<a href="#" class="cate pl-3 pr-3">Aliquam</a>
									<h3 class="title">Chuyển nhượng Real: “Ông trùm” chốt hạ về tam tấu, fan Real sững sờ</h3>
								</div>
							</a>
						</div>
						<div class="col-md-6 pl-1">
							<a href="#" class="news-top position-relative">
								<div class="img">
									<img class="smooth" src="../../assets/images/img_test1.jpg" alt="placeholder+image">
								</div>
								<div class="content p-4 position-absolute">
									<a href="#" class="cate pl-3 pr-3">Aliquam</a>
									<h3 class="title">Chuyển nhượng Real: “Ông trùm” chốt hạ về tam tấu, fan Real sững sờ</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--danh muc-->
			<div class="row pt-0 pb-0">
				<div class="col-md-8">
					<!--danh muc-->
					<div class="row pt-5 pb-0">
						<div class="col-md-12">
							<div class="cate_top d-flex justify-content-start position-relative">
								<h3 class="cate-tile bg-warning pr-3 pl-3 pt-2 pb-2">
									Danh muc
								</h3>
								<nav class="menu-link-yellow">
									<ul>
										<li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
										<li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
										<li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
										<li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
										<li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
									</ul>
								</nav>
							</div>
							<div class="row pt-4">
								<div class="col-md-6 pr-4">
									<div class="items-new items-new-yellow">
										<a href="#" class="img position-relative h-235">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
											<span class="items-new-date pt-2 pb-2"><b>John Doe</b> -  Feb 26, 2017</span>
											<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
										</div>
									</div>
								</div>
								<div class="col-md-6 pl-4">
									<ul class="list-unstyled">
										<li class="media d-flex pb-4 items-new-yellow">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-yellow">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-yellow">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-yellow">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="">
								<ul class="page_controle page_controle_yellow">
									<li class="page_null">
										<a href="#">&lsaquo;</a>
									</li>
									<li>
										<a href="#">&rsaquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!--danh muc-->
					<div class="row pt-5 pb-0">
						<div class="col-md-12">
							<div class="cate_top d-flex justify-content-start position-relative cate_top_green">
								<h3 class="cate-tile bg-green pr-3 pl-3 pt-2 pb-2">
									Danh muc
								</h3>
								<nav class="menu-link-green">
									<ul>
										<li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
										<li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
										<li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
										<li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
										<li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
									</ul>
								</nav>
							</div>
							<div class="row pt-4">
								<div class="col-md-6 pr-4">
									<div class="items-new items-new-green">
										<a href="#" class="img position-relative h-160">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
											<span class="items-new-date pt-2 pb-2"><b>John Doe</b> -  Feb 26, 2017</span>
											<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
										</div>
									</div>

									<ul class="list-unstyled">
										<li class="media d-flex pb-4 items-new-green">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-green">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 pl-4">
									<div class="items-new items-new-green">
										<a href="#" class="img position-relative h-160">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
											<span class="items-new-date pt-2 pb-2"><b>John Doe</b> -  Feb 26, 2017</span>
											<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
										</div>
									</div>

									<ul class="list-unstyled">
										<li class="media d-flex pb-4 items-new-green">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-green">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="">
								<ul class="page_controle page_controle_green">
									<li class="page_null">
										<a href="#">&lsaquo;</a>
									</li>
									<li>
										<a href="#">&rsaquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--danh muc-->
					<div class="row pt-5 pb-0">
						<div class="col-md-12">
							<div class="cate_top d-flex justify-content-start position-relative cate_top_gray">
								<h3 class="cate-tile bg-gray pr-3 pl-3 pt-2 pb-2">
									Danh muc
								</h3>
							</div>
							<div class="row pt-4 fz-15">
								<div class="col-md-4">
									<div class="items-new items-new-gray">
										<a href="#" class="img position-relative h-150">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="items-new items-new-gray">
										<a href="#" class="img position-relative h-150">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="items-new items-new-gray">
										<a href="#" class="img position-relative h-150">
											<img src="../../assets/images/img_test2.jpg" alt=""/>
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
										</div>
									</div>
								</div>
							</div>
							<div class="">
								<ul class="page_controle page_controle_gray">
									<li class="page_null">
										<a href="#">&lsaquo;</a>
									</li>
									<li>
										<a href="#">&rsaquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--danh muc-->
					<div class="row pt-5 pb-0">
						<div class="col-md-6">
							<div class="cate_top d-flex justify-content-start position-relative cate_top_bue">
								<h3 class="cate-tile bg-blue pr-3 pl-3 pt-2 pb-2">
									Danh muc
								</h3>
							</div>
							<div class="row pt-4">
								<div class="col-md-12 pr-4">
									<div class="items-new items-new-blue">
										<a href="#" class="news-top position-relative">
											<div class="img h-235">
												<img class="smooth" src="../../assets/images/img_test1.jpg" alt="placeholder+image">
											</div>
											<div class="content p-4 position-absolute">
												<h3 class="title fz-15">Chuyển nhượng Real: “Ông trùm” chốt hạ về tam tấu, fan Real sững sờ</h3>
												<span class="date"><b>Ha Noi</b>, 19/07/2018</span>
											</div>
										</a>
									</div>

									<ul class="list-unstyled pt-4">
										<li class="media d-flex pb-4 items-new-blue">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-blue">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-blue">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
									</ul>
								</div>
								
							</div>
						</div>
						<div class="col-md-6">
							<div class="cate_top d-flex justify-content-start position-relative cate_top_black">
								<h3 class="cate-tile bg-green pr-3 pl-3 pt-2 pb-2">
									Danh muc
								</h3>
							</div>
							<div class="row pt-4">
								<div class="col-md-12 pr-4">
									<div class="items-new items-new-blue">
										<a href="#" class="news-top position-relative">
											<div class="img h-235">
												<img class="smooth" src="../../assets/images/img_test1.jpg" alt="placeholder+image">
											</div>
											<div class="content p-4 position-absolute">
												<h3 class="title fz-15">Chuyển nhượng Real: “Ông trùm” chốt hạ về tam tấu, fan Real sững sờ</h3>
												<span class="date"><b>Ha Noi</b>, 19/07/2018</span>
											</div>
										</a>
									</div>

									<ul class="list-unstyled pt-4">
										<li class="media d-flex pb-4 items-new-blue">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-blue">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-blue">
											<a href="#" class="link-media d-flex">
												<div class="img pr-1">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2">Feb 26, 2017</span>
												</div>
											</a>
										</li>
									</ul>
								</div>
								
							</div>
						</div>
					</div>
					<!--danh muc-->
					<div class="row pt-5 pb-0">
						<div class="col-md-12">
							<div class="cate_top d-flex justify-content-start position-relative cate_top_green">
								<h3 class="cate-tile bg-green pr-3 pl-3 pt-2 pb-2">
									Danh muc
								</h3>
								<nav class="menu-link-green">
									<ul>
										<li><a href="#nowhere" title="Lorum ipsum dolor sit amet">Lorem</a></li>
										<li><a href="#nowhere" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
										<li><a href="#nowhere" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
										<li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
										<li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
									</ul>
								</nav>
							</div>
							<div class="row pt-4">
								<div class="col-md-12">
									<ul class="list-unstyled ul-media-b">
										<li class="media d-flex pb-4 items-new-green">
											<a href="#" class="link-media d-flex">
												<div class="img pr-3">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2"><b>Ha Noi</b> - Feb 26, 2017</span>
													<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-green">
											<a href="#" class="link-media d-flex">
												<div class="img pr-3">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2"><b>Ha Noi</b> - Feb 26, 2017</span>
													<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-green">
											<a href="#" class="link-media d-flex">
												<div class="img pr-3">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2"><b>Ha Noi</b> - Feb 26, 2017</span>
													<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
												</div>
											</a>
										</li>
										<li class="media d-flex pb-4 items-new-green">
											<a href="#" class="link-media d-flex">
												<div class="img pr-3">
													<img class="mr-3" src="../../assets/images/img_test1.jpg" alt="Generic placeholder image">
												</div>
												<div class="media-body pl-1">
													<h5 class="mt-0 mb-1">List-based media object</h5>
													<span class="items-new-date pt-1 pb-2"><b>Ha Noi</b> - Feb 26, 2017</span>
													<p class="items-new-shordesc">Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...<a href="#" class="items_new_comment">2</a></p>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="">
								<ul class="page_controle page_controle_green">
									<li class="page_null">
										<a href="#">&lsaquo;</a>
									</li>
									<li>
										<a href="#">&rsaquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--danh muc-->
				</div>
				<div class="col-md-4 layout-right">
					<div class="row pt-5 pb-0">
						<div class="col-md-12">
							<div class="cate_top d-flex justify-content-start position-relative cate_top_black">
								<h3 class="cate-tile bg-gray pr-3 pl-3 pt-2 pb-2">
									theo dõi
								</h3>
							</div>
							<div class="row pt-4 fz-15">
								<div class="col-md-12 social pb-2">
									<div class="social-img social-fb float-left"></div>
									<span class="social-info float-left">1000</span>
									<span class="social-info-name float-left">Fans</span>
									<span class="social-info-button float-right">
										<a href="#">Like</a>
									</span>
								</div>
								<div class="col-md-12 social pt-2 pb-2">
									<div class="social-img social-twitter float-left"></div>
									<span class="social-info float-left">1000</span>
									<span class="social-info-name float-left">Followers</span>
									<span class="social-info-button float-right">
										<a href="#">Follower</a>
									</span>
								</div>
								<div class="col-md-12 social pt-2">
									<div class="social-img social-youtube float-left"></div>
									<span class="social-info float-left">1000</span>
									<span class="social-info-name float-left">Subscribers</span>
									<span class="social-info-button float-right">
										<a href="#">Subscriber</a>
									</span>
								</div>
							</div>
							<div class="row pt-4 fz-15">
								<div class="col-md-12 mt-2 pb-3 banner-right-t">
									<a href="#">
										<img src="../../assets/images/banner-halong.jpg" alt=""/>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="row pt-5 pb-0">
						<div class="col-md-12">
							<div class="cate_top d-flex justify-content-start position-relative cate_top_black">
								<h3 class="cate-tile bg-gray pr-3 pl-3 pt-2 pb-2">
									Danh muc
								</h3>
							</div>
							<div class="row pt-4 fz-15">
								<div class="col-md-6">
									<div class="items-new items-new-layout-right">
										<a href="#" class="img position-relative">
											<img src="../../assets/images/img_test2.jpg" alt=""  class="img-thumbnail" />
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="items-new items-new-layout-right">
										<a href="#" class="img position-relative">
											<img src="../../assets/images/img_test2.jpg" alt="" class="img-thumbnail" />
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="items-new items-new-layout-right">
										<a href="#" class="img position-relative">
											<img src="../../assets/images/img_test2.jpg" alt=""  class="img-thumbnail" />
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="items-new items-new-layout-right">
										<a href="#" class="img position-relative">
											<img src="../../assets/images/img_test2.jpg" alt="" class="img-thumbnail" />
											<span class="cate position-absolute pl-2 pr-2">danh muc</span>
										</a>
										<div class="items-new-body pt-3 pb-3">
											<a href="#" class="title">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a>
										</div>
									</div>
								</div>
							</div>
							<div class="">
								<ul class="page_controle page_controle_gray">
									<li class="page_null">
										<a href="#">&lsaquo;</a>
									</li>
									<li>
										<a href="#">&rsaquo;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>
	<footer>
		<div class="bg-footer-b">
			<div class="container">
				<div class="row content-footer-b pt-3">
					<div class="col-md-6">
						<span>&copy; Copyright - Newspaper by HuyNguyen</span>
					</div>
					<div class="col-md-6">
						<ul class="link-footer-ul">
							<li><a href="#">Bản quyền</a></li>
							<li><a href="#">Bảo mật</a></li>
							<li><a href="#">Quảng cáo</a></li>
							<li><a href="#">Liên hệ</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>